<h1>Modifier nom de la société</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.company_path(@conn, :update, @company)) %>

<span><%= link "Retour", to: Routes.company_path(@conn, :index) %></span>
