<h1>Société <%= @company.name %></h1>

<ul>

  <li>
    <strong>Nom de la société: </strong>
    <%= @company.name %>
  </li>

</ul>

<span><%= link "Modifier", to: Routes.company_path(@conn, :edit, @company) %></span>
<span><%= link "Retour", to: Routes.company_path(@conn, :index) %></span>
