<h1><i class="bi bi-building"></i> Société <%= @company.name %></h1>

<ul>

  <li>
    <strong>Nom de la société: </strong>
    <%= @company.name %>
  </li>

</ul>

<span>
  <a href="<%= Routes.company_path(@socket, :edit, @company) %>" class="btn btn-lg btn-warning"><i class="bi bi-pencil-square"></i> Modifier informations</a>
</span>
<span><a href="<%= Routes.company_path(@socket, :index) %>" class="btn btn-lg btn-secondary"><i class="bi bi-arrow-bar-left"></i> Retour</a></span>
