<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>MGBI/ Monitoring</title>
    <link rel="stylesheet"  href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="site-header">

      <div class="wrapper site-header__wrapper">

        <img class="profile-pic-header" src="<%= Routes.static_path(@conn, "/#{PmLogin.Login.get_profile_picture(Plug.Conn.get_session(@conn, :curr_user_id)) }") %>" width="50"/>
        <%= link "Mgbi", to: Routes.user_path(@conn, :index), class: "brand" %>
        <nav class="nav">
          <input id="hamburger" type="image"  src="<%= Routes.static_path(@conn, "/images/hamburger.png") %>" class="nav__toggle">
          <ul class="nav__wrapper">
            <li class="nav__item"><a href="#" class="nav__toggle__proj">▼<i class="bi bi-people-fill"></i> Espace administrateur</a></li>
            <li class="nav__item">
              <ul class="nav__wrapper__project">
                <li class="nav__item"><%= link "Projets", to: Routes.project_path(@conn, :index)%></li>
                <li class="nav__item"><%= link "Sociétés", to: Routes.company_path(@conn, :index) %></li>
                <li class="nav__item"><%= link "Utilisateurs", to: Routes.user_path(@conn, :list) %></li>
                <li class="nav__item"><%= link "Droits/Statuts", to: Routes.right_path(@conn, :index) %></li>
                <li class="nav__item"><%= link "Clients", to: Routes.active_client_path(@conn, :index) %></li>
              </ul>
            </li>
            <li class="nav__item"><a href="<%= Routes.user_path(@conn, :index) %>"><i class="bi bi-house-fill"></i> Accueil</a></li>
            <li class="nav__item"><a href="<%= Routes.user_path(@conn, :show, Plug.Conn.get_session(@conn, :curr_user_id)) %>"><i class="bi bi-person-circle"></i> Profil</a></li>
          </ul>
        </nav>
      </div>


    </header>


    <main id="main" role="main" class="container">
      <!-- <p class="alert alert-info" role="alert" phx-click="lv:clear-flash" phx-value-key="error"><%= live_flash(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert" phx-click="lv:clear-flash" phx-value-key="error"><%= live_flash(@flash, :error) %></p> -->

      <%= @inner_content %>
      <br/>
      <br/>
      <span>
        <a href="<%= Routes.auth_path(@conn, :sign_out) %>" class="btn btn-outline-danger btn-lg"><i class="bi bi-box-arrow-left"></i> Déconnexion</a>
      </span>
    </main>
  </body>
  <footer id="foot" class="container-fluid">
    <div id="footcont" class="container">
        <p>copyright @Cleemzy / Project monitoring</p>
    </div>

  </footer>
</html>
