<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>MGBI/ Monitoring</title>
    <link rel="stylesheet"  href="<%= Routes.static_path(@socket, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@socket, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="site-header">

      <div class="wrapper site-header__wrapper">

        <img class="profile-pic-header" src="<%= Routes.static_path(@socket, "/#{PmLogin.Login.get_profile_picture(@curr_user_id) }") %>" width="50"/>
        <%= link "Mgbi", to: Routes.user_path(@socket, :index), class: "brand" %>
        <nav class="nav">
          <input id="hamburger" type="image"  src="<%= Routes.static_path(@socket, "/images/hamburger.png") %>" class="nav__toggle">
          <ul class="nav__wrapper">

            <li class="nav__item">
              <div class="dropdown">
                <a href="#" class="dropbtn">▼<i class="bi bi-people-fill"></i> Espace administrateur</a>
                <div class="dropdown-content basecontents">
                  <%= link "Projets", to: Routes.project_path(@socket, :index)%>
                  <%= link "Sociétés", to: Routes.company_path(@socket, :index) %>
                  <%= link "Utilisateurs", to: Routes.user_path(@socket, :list) %>
                  <%= link "Droits/Statuts", to: Routes.right_path(@socket, :index) %>
                  <%= link "Clients", to: Routes.active_client_path(@socket, :index) %>
                </div>
              </div>
            </li>

            <li class="nav__item"><a href="<%= Routes.user_path(@socket, :index) %>"><i class="bi bi-house-fill"></i> Accueil</a></li>
            <li class="nav__item">
              <div class="dropdown">
                <a href="#" title="Notifications" phx-click="switch-notif"><i class="bi bi-bell-fill notification-icon"></i><span class="notification-span" style="background-color: <%= if (@notifs |> Enum.count(fn(x) -> !(x.seen) end)) == 0 do "transparent" end %> !important;"><b class="notification-nb"><%= @notifs |> Enum.count(fn(x) -> !(x.seen) end) %></b></span></a>
                <div class="dropdown-notif basecontents" style="display: <%= if @show_notif, do: "block", else: "none" %>;">
                <%= for notif <- @notifs do %>
                  <div class="row notif-link basecontents" style="background-color: <%= if not notif.seen, do: "lightgray" %> ;">
                    <div class="column column-10">
                      <img class="profile-pic-notif" src="<%= Routes.static_path(@socket, "/#{PmLogin.Login.get_profile_picture(notif.sender_id) }") %>" width="20"/>
                    </div>
                    <div class="column" style="width: 150px;">
                      <b class="notif-text"><%= notif.content %></b>
                      <br/><br/>
                      <i class="notif-date">il y a <%= PmLogin.Services.time_ago notif %></i>
                    </div>
                  </div>
                <% end %>
                </div>
              </div>
            </li>

            <li class="nav__item"><a href="<%= Routes.user_path(@socket, :show, @curr_user_id) %>"><i class="bi bi-person-circle"></i> Profil</a></li>
          </ul>
        </nav>
      </div>


    </header>


    <main id="main" role="main" class="boardcontainer" phx-click="cancel-notif">
      <div class="container">
        <p class="alert alert-info basecontents" role="alert"
          phx-click="lv:clear-flash"
          phx-value-key="info"><%= live_flash(@flash, :info) %></p>

        <p class="alert alert-danger basecontents" role="alert"
          phx-click="lv:clear-flash"
          phx-value-key="error"><%= live_flash(@flash, :error) %></p>
      </div>

      <%= @inner_content %>
      <br/>
      <br/>

      <span>
        <a href="<%= Routes.auth_path(@socket, :sign_out) %>" class="btn btn-outline-danger btn-lg"><i class="bi bi-box-arrow-left"></i> Déconnexion</a>
      </span>
        </main>
  </body>
  <footer id="foot" class="boardcontainer">
    <div id="footcont" class="boardcontainer">
        <p>copyright @Cleemzy / Project monitoring</p>
    </div>

  </footer>
</html>
