<h1>New Assist contract</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.assist_contract_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.assist_contract_path(@conn, :index) %></span>
