<h1>Show Assist contract</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @assist_contract.title %>
  </li>

  <li>
    <strong>Date start:</strong>
    <%= @assist_contract.date_start %>
  </li>

  <li>
    <strong>Date end:</strong>
    <%= @assist_contract.date_end %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.assist_contract_path(@conn, :edit, @assist_contract) %></span>
<span><%= link "Back", to: Routes.assist_contract_path(@conn, :index) %></span>
