<h1>Show Editor</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @editor.title %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.editor_path(@conn, :edit, @editor) %></span>
<span><%= link "Back", to: Routes.editor_path(@conn, :index) %></span>
