<h1>Show License</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @license.title %>
  </li>

  <li>
    <strong>Date start:</strong>
    <%= @license.date_start %>
  </li>

  <li>
    <strong>Date end:</strong>
    <%= @license.date_end %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.license_path(@conn, :edit, @license) %></span>
<span><%= link "Back", to: Routes.license_path(@conn, :index) %></span>
