.rotate__icon{
    -webkit-animation:spinning 0.5s linear 0s;
    -moz-animation:spinning 0.5s linear 0s;
    animation:spinning 0.5s linear 0s;
}

@-moz-keyframes spinning { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spinning { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spinning { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }