/* This file is for your main application css. */
@import "./phoenix.css";
@import "./header/styles/header-1.css";
@import "./my_bootstrap.css";
@import "./modal.css";
@import "./auth.css";
@import "./kanban.css";
@import "./my_contents.css";
@import "./project.css";
@import "./admin_index.css";
@import "./header_dropdown.css";
@import "./comment_section.css";
@import "./kanban_status.css";
@import "./progression_bar.css";
@import "./login.css";
@import "./mat-icons.css";
@import "./recaps.css";

/* Alerts and form errors */
.alert {
  float: right;
  position: fixed;
  top: 80px;
  right: 270px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 999;
}

@media (max-width: 650px){
  .alert {
    top: 80px;
    right: 20px;
  }
}


.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
