.comments-section{
  overflow: scroll;
  height: 400px;
  width: 500px;
  /* white-space: nowrap; */
}

.pp__comment{
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  border: 1px solid gray;
  border-style: solid;
  border-radius: 60%;
}

.username__comment{
  margin-left: 5px;
  font-size: 11px;
}

.username__comment__you{
  margin-right: 5px;
  font-size: 11px;
}

.comment__div{
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.comment__header{
  height: 25px;
}

.comment__content{
  width: 430px;
}
.textc__content{
  text-align: left;
  word-wrap: break-word;
}

.textc__content_user{
  text-align: right;
  word-wrap: break-word;
}

.date__footer{
  font-size: 12px;
}

.comment__modal__footer{
  /* white-space: nowrap !important; */
  margin-top: 10px;
  margin-bottom: -15px;
}

@media (max-width: 638px){
  .comment__modal__footer{
    white-space: nowrap !important;
    /* max-width: 300px !important; */
  }
  .col__com__footer{
    /* background-color: black; */
    white-space: nowrap !important;
  }
}

.form__wrapper{
  white-space: nowrap;
}

.comment__back{
  font-size: 30px;
  color: gray;
}
.comment__back:hover{
  cursor: pointer;
  color: lightgray;
}

.bt__com__form{
  border: none;
  width: 10px;
  background-color: transparent !important;
}

.bt__com__form:hover{
  background-color: transparent;
}

.bt__com__form:active{
  background-color: transparent;
}

.bt__com__form__ico{
  font-size: 25px;
  color: blue;
}

.bt__com__form__ico:hover{
  /* font-size: 30px; */
  color: gray;
}


.load__icons{
  margin-left: 60%;
}

.quit__link p {
  display: none;
}

/* .quit__link:hover {
  display: block;
} */

/* .quit__link:hover p {
  display: block;
} */
