.conboard__pro__pic{
    /* display: inline-block;
    align-items: center;
    justify-content: center;         */
    width: 125px;
    height: 125px;
    max-width: 125px;
    max-height: 125px;
    border: 1px solid gray;
    border-style: solid;
    border-radius: 60%;
    margin-left: 2%;
    background-color: transparent;
    /* display: block; */
    margin-top: 20px !important;
    margin: 0 auto;
}

.conboard__pic__section{
    display: inline-block;
    height: 100%;
    width: 20%;
}

.conboard__pic__section>*{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conboard__bar__section{
    display: inline-block;
    height: 100%;
    width: 80%;
    justify-content: center;
}

.conboard__bar__title{
    text-align: center;
    margin-bottom: 0;
}

/* .conboard__bar__section>*{
    display: table-column;
} */
.conboard__container{
    display: flex;
    width: 100%;
    height: 150%;
    padding-bottom: 10px;
    /* flex-wrap: wrap; */
}

.conboard__inner__container{
    display: inline-block;
    width: 100%;
}
.conboard__head{
    display: flex;
    width: 100%;
    height: 30%;
}

.conboard__foot{
    display: inline-block;
    width: 100%;
    height: 70%;
}

.conboard__foot__title{
    text-align: center;
}

.task__section{
    display: flex;
    /* height: 80%;
    max-height: 80%;
    width: 100%; */
    max-height: 80%;
    overflow-y: auto;
}

.task__section__left{
    width:50%;
    height: 100%;
    /* background-color: blue; */
}

.task__section__right{
    width:50%;
    height: 100%;
    /* background-color: green; */
}
