<h1>Droit/ Statut</h1>

<ul>

  <li>
    <strong>Titre: </strong>
    <%= @right.title %>
  </li>

</ul>

<span><%= link "Modifier", to: Routes.right_path(@conn, :edit, @right) %></span>
<span><%= link "Retour", to: Routes.right_path(@conn, :index) %></span>
