<div class="row">
  <div class="column basecontents__without__radius esp__adm__col hover__growing">
    <h3 class="header__link__title"><a href="<%= Routes.company_path(@socket, :my_company) %>" id="adm">Ma société <br/><span class="material-icons">maps_home_work</span></a></h3>
  </div>
  <div class="column basecontents__without__radius esp__adm__col">
    <h3 class="header__link__title"><a href="<%= Routes.clients_request_path(@socket, :my_requests) %>" id="adm">Mes requêtes <br/><span class="material-icons">receipt_long</span></a></h3>
  </div>
</div>
