<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Vérifiez vos informations ci-dessous</p>
    </div>
  <% end %>

  <h2><p id="names"><%= @user.username %></p></h2>
  <h2><p id="names"><%= @user.email %></p></h2>
<div class="row">
  <%= label f, "Droit" %>
  <%= select f, :right_id, @str_rights , selected: [@user.right_id] %>
</div>
  <br/>
  <%= submit "Confirmer", class: "submit", id: "signin" %>

<% end %>
