<h1><i class="bi bi-pencil-square"></i> Modifier projet: <%= @project.title %></h1>

<div class="basecontents">
<%= render "form.html", Map.put(assigns, :action, Routes.project_path(@conn, :update, @project)) %>
</div>

<span><a href="<%= Routes.project_path(@conn, :index) %>" class="btn btn-lg btn-secondary"><i class="bi bi-arrow-bar-left"></i> Retour</a></span>
