<h1>New Active client</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.active_client_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.active_client_path(@conn, :index) %></span>
