<h1>Les projets à qui on m'a assigné des tâches</h1>

<ul>
  <%= for project <- @projects do %>
    <li><%= link "#{project.title}", to: Routes.project_path(@conn, :board, project) %></li>
  <% end %>
</ul>
