<p>Utilisateur:</p>
<p><%= @_csrf_token %></p>
<p>username: <%= @user.username %></p>
<p>password: <%= @user.password %></p>
<p>Paul has entered good password: <%= @good %></p>


<table>
  <thead>
    <tr>
      <th>Liste des users en tableau</th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
    <tr>
      <td><%= user.username %></td>

      <td><%= Bcrypt.hash_pwd_salt(user.password)%></td>
    </tr>
    <% end %>
  </tbody>
</table>


<p>Check if username exist: <%= @check %> </p>

<p>Session Utilisateur: <%= Plug.Conn.get_session(@conn, :curr_user_uname) %></p>

<span><%= link "Déconnexion", to: Routes.auth_path(@conn, :sign_out) %></span>


<table>
  <thead>
    <tr>
      <th>Liste des users récupérés en base</th>
    </tr>
  </thead>
  <tbody>
    <%= for u <- @user_list do %>
    <tr>
      <td><%= u.username %></td>

      <td><%= u.password %></td>
    </tr>
    <% end %>
  </tbody>
</table>
